body {
	background-color: #D8D8D8;
	-webkit-animation: random 5s infinite;
	animation: random 5s infinite;
}

@keyframes random {
	to {
		background-color: #A212A7;
	}

	60% {
		background-color: #025373;
	}

	30% {
		background-color: #D8F207;
	}

	20% {
		background-color: #94D904;
	}

	from {
		background-color: #65A602;
	}

	80% {
		background-color: #D8D8D8;
	}

	50% {
		background-color: #0697F2;
	}

	70% {
		background-color: #2B2B2B;
	}
}

/*

YOU CAN USE LIKE IT TOO :d
*/
.Logo path {
	fill: #A212A7;
	-webkit-animation: mymove 6s infinite;
	animation: mymove 10s infinite;
}

.Logo {
	margin: auto;
	padding-top: 150px;
}

@keyframes mymove {
	to {
		fill: #A212A7;
	}

	60% {
		fill: #025373;
	}

	30% {
		fill: #D8F207;
	}

	20% {
		fill: #94D904;
	}

	from {
		fill: #65A602;
	}

	80% {
		fill: #D8D8D8;
	}

	50% {
		fill: #0697F2;
	}

	70% {
		fill: #2B2B2B;
	}
}


.breve path {
	fill: #A212A7;
	-webkit-animation: mymove 6s infinite;
	animation: mymove 10s infinite;
}

.breve {
	margin: 0 auto;
	display: flex;
  justify-content: center;
	padding-top: 150px;

}


@keyframes mymove2 {
	to {
		color: #A212A7;
	}

	60% {
		color: #025373;
	}

	30% {
		color: #D8F207;
	}

	20% {
		color: #94D904;
	}

	from {
		color: #65A602;
	}

	80% {
		color: #D8D8D8;
	}

	50% {
		color: #0697F2;
	}

	70% {
		color: #2B2B2B;
	}
}

div {
	width: 55rem;
	display: flex;
	flex-direction: row-reverse;
}

/*
.texto {
	font-family: "Raleway-Thin.ttf", sans-serif;
	
	color: #000;
	font-size: 4rem;
	-webkit-animation: mymove2 6s infinite;
	animation: mymove2 10s infinite;
	margin: auto;
	max-width: 100%;
	height: auto;
	padding-top: 6rem;

}

@keyframes mymove2 {
	to {
		color: #A212A7;
	}

	60% {
		color: #025373;
	}

	30% {
		color: #D8F207;
	}

	20% {
		color: #94D904;
	}

	from {
		color: #65A602;
	}

	80% {
		color: #D8D8D8;
	}

	50% {
		color: #0697F2;
	}

	70% {
		color: #2B2B2B;
	}
}

.texto p {
	display: flex;
	text-align: center!important;
	letter-spacing: 4rem;
  
}*/